body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    color: red;
    font-size: 22px;
    font-weight: bold;
}

#searchBox {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
}

/* HERO */
.hero {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), #111),
    url("images/aot.jpg") center/cover no-repeat;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
}

.hero h1 {
    font-size: 40px;
    margin: 0;
}

.hero p {
    font-size: 18px;
    max-width: 500px;
}

/* SECTION */
.section {
    padding: 20px;
}

.section h2 {
    margin-bottom: 15px;
}

/* NETFLIX GRID */
.anime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 15px;
}

.anime-card {
    background: #222;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: white;
    transition: transform 0.3s;
}

.anime-card:hover {
    transform: scale(1.05);
}

.anime-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.anime-title {
    text-align: center;
    padding: 8px;
    font-size: 14px;
}
