* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f0f0f;
  color: white;
}

.nav {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  color: #e50914;
  font-size: 24px;
  font-weight: bold;
}

.search {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.hero {
  height: 70vh;
  background: linear-gradient(to top, black, transparent), url("../images/aot-cover.jpg");
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}

.row {
  padding: 20px;
}

.row-content {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.card {
  min-width: 200px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.1);
}
